---
layout: default
body-class: body-portfolio
img-path: "../img"
---
<section class="portfolio">
	<div class="section-label">

		<h2>About</h2>
	</div>
	<div class="section-content">

		<p>	I’m a principal human-centered designer and researcher working in the public good. I excel in making sense of complex problems and systems, conducting scoped generative research aimed at informing key decisions, and evaluating new product and feature ideas with progressive de-risking. At heart I am a generalist, able to flex various skillsets to get the job done.
		</p>
		<p>In my personal life, I am a Virginia Master Naturalist and a volunteer ambassador for the Northern Virginia Bird Alliance’s Wildlife Sanctuary at Home program. 
		</p>
	</div>
</section>

<section class="portfolio">
	<div class="section-label">

		<h2>What I do</h2>
	</div>
		<div class="section-content">
		<p>I conduct  generative research that informs high-level strategy and product direction:
		</p>
		<p>I make sense of messy, ambiguous situations and create clarity so teams can move forward:
		</p>
		<p>I iteratively validate new ideas with progressive de-risking:
		</p>

	<nav class="section-content">
		<ul>
		{% for post in site.categories.ux reversed %}
			{% include project-thumbnail.html %}
		{% endfor %}
		</ul>
	</nav>
		</div>
</section>
