<footer>
	<nav id="bottom-nav">
		<ul class="nav footer-nav hidden-print">
			<li class="li-design">
				<a href="{{ site.url }}">Design</a>
			</li>
			<li class="li-about">
				<a href="/about/">About</a>
			</li>
			<!-- <li class="li-contact">
			<a href="contact.html">Contact</a>
			</li> -->
		</ul>
		<ul class="portfolio-nav">
			<!-- <li><a href="#ux">UX</a></li> -->
			<li>
				<a href="{{ site.url }}#tehinterwebz">UX/UI</a>
			</li>
			<li>
				<a href="{{ site.url }}#marks">Marks</a>
			</li>
			<li>
				<a href="{{ site.url }}#print">Print</a>
			</li>
			<li>
				<a href="{{ site.url }}#editorial">Editorial</a>
			</li>
		</ul>
	</nav>
	<div class= "footer-social">
		<a class="li" id="linkedin" href="http://www.linkedin.com/in/carolyndew" title="Straight-laced profile you can show your boss." onclick="_gaq.push(['_trackEvent', 'Social','Footer','Linkedin']);">Linkedin</a>
		<a class="tw" id="twitter" href="https://twitter.com/carodew" title="Design-related tweets mixed with me trying to be funny." onclick="_gaq.push(['_trackEvent', 'Social','Footer', 'Twitter']);">Twitter</a>
		<a class="pin" id="pinterest" href="http://pinterest.com/caslondew/" title="See what inspires and entertains me." onclick="_gaq.push(['_trackEvent', 'Social','Footer','Pinterest']);">Pinterest</a>
	</div>

	<div class="copyright">
		&copy; {{ 'now' | date: "%Y" }} <span> carolyn dew </span>
		<a href="mailto:carolynsdew@gmail.com">carolynsdew@gmail.com</a>
	</div>
	<!-- <div class="skills">
	<ul class="unstyled">
	<li>Graphic Design</li>
	<li>UX/UI</li>
	<li>Nonprofit Communications</li>
	</ul>
	</div> -->

	<!-- Colophon: This webpage is set in FF Tisa Web Pro and FF Tisa Sans Web Pro by Mitja Miklavčič’. -->

</footer>

