<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width initial-scale=1">

	<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
	<meta name="author" content="Carolyn Dew">
	<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

	<!-- Typekit goes before CSS to prevent FOUT -->
	<script type="text/javascript" src="//use.typekit.net/mik1jeq.js"></script>
	<script type="text/javascript">
		try {
			Typekit.load();
		} catch(e) {
		}
	</script>

	<link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.url }}">
	<!-- <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"> -->
	<!-- <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" /> -->

	<script src="{{ "/js/jquery.min.js" | prepend: site.url }}"></script>
	<!-- <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.js"></script> -->		
	<link rel="shortcut icon" type="image/x-icon" href="{{ "/favicon.ico" | prepend: site.url }}" />
	<link rel="shortcut icon" type="image/png" href="{{ "/favicon.png" | prepend: site.url }}" />

	<!-- HTML5 shim for IE backwards compatibility -->
		<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script
	<![endif]-->
	<meta name="google-site-verification" content="9wlTb9DnTuK3Z83Sj_-tU9ArrhuuhX9D6C3ytscU34M" />
 </head>