<header>
	<h1><a href=" {{ site.url }} " class="logotype"> <img src="/img/carolyndew.png" alt="Carolyn&nbsp;Dew" /> </a></h1>
	<ul class="roles">
		<li>
			Graphic Design
		</li>
		<li>
			Interaction Design
		</li>
		<li>
			Nonprofit Communications
		</li>
	</ul>
	<!-- <a href="#bottom-nav" class="menu-anchor visible-phone">Menu</a> -->
	<div class="visible-print print-contact">
		<p>
			Graphic Design, UX, Nonprofit Communications
		</p>
		<p>
			513 907 9531
		</p>
		<p>
			carolyndew@gmail.com
		</p>
	</div>
	<nav class="nav-top">
		<ul class="global-nav ">
			<li class="li-design">
				<a href="{{ site.url }}">Design</a>
			</li>
			<li class="li-about">
				<a href="/about/">About</a>
			</li>
			<!-- <li class="li-contact"><a href="contact.html">Contact</a></li> -->
		</ul>
		<ul class="portfolio-nav">
			<!-- <li><a href="#ux">UX</a></li> -->
			<li>
				<a href="#tehinterwebz">Screen</a>
			</li>
			<li>
				<a href="#marks">Marks</a>
			</li>
			<li>
				<a href="#print">Print</a>
			</li>
			<li>
				<a href="#editorial">Editorial</a>
			</li>
		</ul>

		<!-- <div class="show-screen">
		<div class="visible-desktop">Large Desktops</div>
		<div class="visible-tablet">Tablets to Desktops</div>
		<div class="visible-phone">Portrait tablets and below </div>
		</div> -->
	</nav>
</header>
