<header>
	<h1><a href=" {{ site.url }} " class="logotype"> <img src="/img/carolyndew.png" alt="Carolyn&nbsp;Dew" /> </a><span class="hidden-accessible">Carolyn Dew</span></h1>
<p class="roles">UX design and research in the civic space</p>
	<!-- <a href="#bottom-nav" class="menu-anchor visible-phone">Menu</a> -->
	<div class="visible-print print-contact">
		<p>
			UX research and design in the civic space
		</p>
		<p>
			carolynsdew@gmail.com
		</p>
	</div>
	<nav class="nav-top">
		<ul class="global-nav ">
			<li class="li-design">
				<a href="{{ site.url }}">Design</a>
			</li>
			<li class="li-about">
				<a href="/about/">About</a>
			</li>
		</ul>

		<!-- <div class="show-screen">
		<div class="visible-desktop">Large Desktops</div>
		<div class="visible-tablet">Tablets to Desktops</div>
		<div class="visible-phone">Portrait tablets and below </div>
		</div> -->
	</nav>
</header>
