/* ================== Portfolio ================== */

.portfolio { border-top: 1px solid $color-base-text; }
.project-thumbnail {
	display: block;
	max-width: (742em/16); // 46.375em
	position: relative;
	margin: 1.6em 0 0 0;
	line-height: 20px;
	background-color: #fff;
	padding: 5px;
	border: 1px solid $medGray;
	border: 1px solid rgba(0, 0, 0, 0.2);
	@include boxShadow();
	img { max-width: 100%; }
	@media screen and (min-width: $breakpoint1) {
		display: inline-block;
		*zoom: 1;
		*display: inline;
		width: (167em/16); // img width plus padding plus border / font-size, 157 + 5 + 5 / 16
		margin-right: 1.5em;
		border: 1px solid $medGray;
		img { width: 100%; }
		.thumbnail { display: block !important; }
		@include commonTransition (color, 0.6s); 
		&:hover { color: #fff; }
	}
}

.thumbnail { display: block; }

@media screen and (min-width: $breakpoint1 ) {
	.project-title { // this is the pink overlay/title over images on the index page
		position: absolute;
		top: 5px;
		right: 5px;
		bottom: 5px;
		left: 5px;
		font-family: $serifStack;
		color: #ffffff;
		margin-bottom: 0;
		font-size: 0.9em;
		font-weight: normal;
		opacity: 0;
		background: $color-primary;
		background: rgba($color-primary,0.93);
		@include commonTransition(opacity, 0.3s); 
		p {
			margin: 0.3em;
			margin-left: 1.3em;
			position: absolute; 
			text-align: right;
			bottom: 0;
			right:0;
		}
		&:hover {
			opacity:1;
			color: #ffffff;
		}
	}
}