/* ================== Colors ================== */

// old
// $coral: #FF7466;
// $darkCoral: #a3281b;
// $lightCoral: lighten($coral, 25%);
// $cyan: #1FE2FF; 

$offwhite: #fdfdfd;
$red: #DF2F12; // contrast ratio 4.53:1 on $offwhite

$verylightgray: #EAE8E8; // secondary background
$lightGray: #C5BDC1; // not sufficient contrast for text
$medGray: #656363; // contrast ratio 9.54:1 on $offwhite
$darkGray: #262525; // contrast ratio 15.03:1 on $offwhite


// Color Assignments 

$color-background: $offwhite; 
$color-secondary-background: $verylightgray;

$color-base-text: $darkGray; 
$color-light-text: $medGray;

$color-primary: $red;
$color-primary-light: lighten($red, 15%);

$color-default-link: $color-primary;
$color-default-hover: lighten($color-default-link, 15%);

/* ================== Layout/Breakpoints ================== */

$pageMargin: (24em/16); // 1.5em - side borders on page content
$leftColumn: (170em/16);

$breakpoint1: (550em/16); // 34.375em breaks from single column to thumbnails
$breakpoint2: (979em/16); // 61.1875em caption information on project pages snaps to the left column


/* ================== Fonts ================== */

$sansStack: "ff-tisa-sans-web-pro","Trebuchet MS" ,"Helvetica Neue", Helvetica, Arial, sans-serif;
$serifStack: "ff-tisa-web-pro", 'Georgia', 'Times', serif; 

/* ================== Mixins ================== */

@mixin commonTransition ($property: all, $duration: 0.3s) {
		-webkit-transition: $property $duration;
			 -moz-transition: $property $duration;
				 -o-transition: $property $duration; 
						transition: $property $duration;
}
@mixin glow {
		// border: 1px solid rgba($primary, 0.2);
		-webkit-box-shadow:	1px 1px 2em 0 rgba(rgba($color-primary,1), 0.2);
			 -moz-box-shadow:	1px 1px 2em 0 rgba(rgba($color-primary,1), 0.2);
						box-shadow:	1px 1px 2em 0 rgba(rgba($color-primary,1), 0.2);
}

@mixin boxShadow( $shadow: 0 1px 3px rgba(0, 0, 0, 0.1) ) { 
		-webkit-box-shadow:	$shadow;
			 -moz-box-shadow:	$shadow;
						box-shadow:	$shadow; }

@mixin inset {
		background: lighten($color-primary, 10%);
		background: rgba($color-primary, 0.5) ;
		-webkit-box-shadow: inset 3px 3px 24px 0 rgba(rgba($color-primary,1), 0.5);
			 -moz-box-shadow: inset 3px 3px 24px 0 rgba(rgba($color-primary,1), 0.5);
						box-shadow: inset 0 0 32px 0 rgba(rgba($color-primary,1), 0.5);
}

@mixin borderRadius ($radius: 3px){
		-webkit-border-radius: $radius;
			 -moz-border-radius: $radius;
						border-radius: $radius;
}


