@media print {
	.global-nav, 
	.portfolio-nav, 
	section.portfolio a.back-up, 
	section.contact a.back-up { display: none; }
	.visible-print { display: inherit !important; }
	.print-contact {
		color: $darkGray;
		line-height: 1em;
		margin-top: 0;
		margin-bottom: 0;
	}
}
