/* ================== Base CSS ================== */

article, 
aside, 
details, 
figcaption, 
figure, 
footer, 
header, 
hgroup, 
nav, 
section { display: block; }

html, 
p, 
ul, 
ol {
	font-family: $serifStack;
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

/* ================== Core Typography: throughout site ================== */

// Headers

h1, h2, h3, h4, h5, h6 {
	font-family: $sansStack;
	line-height: 1.5em;
	margin: 1.5em 0 0.6em 0;
} 

h1 { 
	font-size: 1.36em; 
	font-weight: bold;
}

h2 { 
	font-size: 1.24em;
}

// paragraphs and lists and block level things

p {
	margin-bottom: 1em;
}

ul, 
ol {
	padding: 0;
	margin: 0 0 (10em/16) (25em/16);
}

ul { list-style: disc outside; }

ul ul, 
ul ol, 
ol ol, 
ol ul { margin-bottom: 0; }

li { line-height: 1.6em; }

li + li { margin-top: 0.7em; }

ul.unstyled, ol.unstyled {
	margin-left: 0;
	list-style: none;
}

// links

a {
	color: $color-default-link;
	text-decoration: none;
	@include commonTransition(color, 0.3s); 
	//@include commonTransition (background-color, 0.3s);
	&:hover, &:active {
		color: $color-default-hover;
		text-decoration: underline;
		outline:0;
	}
	&:focus {
		outline: thin dotted #333;
		outline: 5px auto -webkit-focus-ring-color;
		outline-offset: -2px;
	}
}

// inline things

sub, sup {
	position: relative;
	font-size: 75%;
	line-height: 0;
	vertical-align: baseline;
}

sup { top: -0.5em; }
sub { bottom: -0.25em; }

.nowrap { white-space: nowrap; }


small { font-size: 85%; }

strong, 
b { 
	font-family: $sansStack;
	font-weight: 700; 
	vertical-align: baseline;
}

em, i, cite { font-style: italic; }