---
layout: default
---

<section class="project-detail">
	<div class="section-label">
<!-- 		<a class="back round-nav-button" href="../" title="Back to main">
			<span class="hidden-accessible">Back to main</span> 
			<i class="icon-arrow-left"></i>
		</a> -->
	</div>
	<div class="section-content">
		<div class="project">
			<h2>{{ page.long-title }}</h2>
			{{ content }}
			<div class="prev-next-nav">
			  {% if page.previous.url %} 
			  <span class="prev">Previous: <a href="{{page.previous.url}}">{{page.previous.long-title}}</a> </span>
			  {% endif %} 
			  {% if page.next.url %} 
			  <span class="next">Next: <a href="{{page.next.url}}">{{page.next.long-title}}</a></span>
			  {% endif %} 
			</div>
		</div>

	</div>

</section>
