<section class="portfolio">
	<a href="#" class="back-up-static">Back to top</a>
	<div class="section-label">
		<h2 id="tehinterwebz">{{ page.section-name }}</h2>
	</div>
	<div class="section-content">
	
		{% for post in site.categories.{{ page.section-name}} %}
				<a href="{{ post.permalink }}" class="project-thumbnail">
				<img src="img/{{ post.thumbnail }}" alt="{{ post.short-title }}" class="thumbnail" >
				<img src="img/{{ post.mobile-image }}" alt="{{ post.short-title }}" class="visible-phone" />
		<div class="project-title hidden-phone">
			<p>
				{{ post.short-title }}
			</p>
		</div>
		<div class="more visible-phone">
			+
		</div> 
				</a>
		{% endfor %}
</section>